<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aesopsfables">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TheManAndTheSatyr"
            android:label="@string/title_activity_the_man_and_the_satyr"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheCockAndTheJewel"
            android:label="@string/title_activity_the_cock_and_the_jewel"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheJayandthePeacock"
            android:label="@string/title_activity_the_jayandthe_peacock"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheBoysandtheFrogs"
            android:label="@string/title_activity_the_boysandthe_frogs"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheMischievousDog"
            android:label="@string/title_activity_the_mischievous_dog"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheAssAndTheCharger"
            android:label="@string/title_activity_the_ass_and_the_charger"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".Androcles"
            android:label="@string/title_activity_androcles"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".BellingTheCat"
            android:label="@string/title_activity_belling_the_cat"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheBundleOfSticks"
            android:label="@string/title_activity_the_bundle_of_sticks"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".TheOldHound"
            android:label="@string/title_activity_the_old_hound"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aesopsfables.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>